.main{
    background-image: url(../../../assets/bag.jpg);
    width: 100%;
    height: 89vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
}