<div class="bodyy">
    <div class="form">
        <h2>Change Password</h2>
        <div class="main">
            <div *ngIf="!isShowPassword">
                <input type="email" [(ngModel)]="userName" placeholder="Enter Your Email" /><br />
                <button (click)="getUserName()">Submit</button>
            </div>

            <div *ngIf="isShowPassword">
                <input type="password" [(ngModel)]="userPassword" placeholder="Add New Password" /><br />
                <button (click)="changePassword()">Submit</button>
            </div>
        </div>
    </div>
</div>