.main-content {
    background-image: url(../../../assets/vote.jpg);
    width: 100%;
    height:auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -15px;
    
}
.search-text{
    text-align: center;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.header{
    background-color: rgb(14, 86, 95);
}
.left-panel{
    padding-left: 130px;
    padding-right: 130px;
}
.left-panel .table{
    
    border: none;
    border-collapse: collapse;
    border-color: rgb(6, 6, 6);
    margin-left: auto;
    margin-right: auto;
}
.main-content h1 {
    /* padding-left: 550px;
    padding-top: 20px; */
    text-align: center;
}
.table th,
.table td {
    border: 1px solid rgb(8, 8, 8);
    padding: 8px;
    text-align: center;
}
