<div class="bodyy">
<div class="container">
  <header>
    <h1>Contact Us</h1>
  </header>

  <section id="headOffice">
    <h2>Head Office - ECI</h2>
    <address><i class="fa-solid fa-location-dot"></i>
      <p>Chief Electoral Officer, Maharashtra
        General Administration Department,
        6th Floor Annex Building, Madam Cama Marg,
        Hutatma Rajguru Chowk,
        </p>
      <p>Mantralaya, Mumbai - 400 032</p>
    </address>
  </section>

  <section id="contactNumbers">
    <h2>Contact Numbers</h2>
    <ul>
      <li>Main Office: +91 922 625 7367</li>
      <li>Customer Support: +91 808 788 4675</li>
      <li>Emergency Line: +91 968 962 2954</li>
      <li>E-mail : ceo_maharashtra[at]eci[dot]gov[dot]in</li>
    </ul>
  </section>
</div>
</div>