<div clas="About-page">

  <div class="about section">

  </div>
  <div class="Welcome ">
    <div class="container">
      <div class="row">
        <h1 class="textleft">About Online-Voting</h1>
        <div class="welcome-left">
          <h3 class="my">Welcome to Online Voting System.This is a software platform that allows groups to security
            conduct votes and
            elections.High-quality online voting systems balance ballot security,accessibility,and the overall
            requirements of an organization's
            voting event.Online voting system being referred to as an online election system,an online e voting
            systems,or electronic voting.
            These all make reference to the same thing:a secure voting tool that allows your group to collect input from
            your group and closely
            scrutinize the results the real time.It help you make group in a way thats systematic and verifiable.Our
            voting system used to
            gather instant,trustworthy results.voting services help you run secure votes and elections.This system
            provide voters with a comfortable and secure voting experience and allow election organizers to save
            resources inplanning their
            next election.
          </h3>
        </div>
        <div class="img">
          <img src="../../.../../assets/vote.jpg" alt="">
        </div>
        <div class="mission">
          <br><br>
          <h1 class="text">What We Do ? </h1>
          <h3 class="main" style="margin-bottom: 10px;">The Online Voting System Website provides voters with online
            voting through a web browsers.A voters can register using their
            name,mobile number,voter id number ,age,birth date,gender and password and login to the voting system using
            their unique username and password.Next they select the candidates
            or options .Finally they submit their vote.</h3>
        </div>
        <div class="vision">
          <br><br>
          <h1 class="text1">Our Vision</h1>
          <h3 class="my" style="margin-left: 15px;">
            <li>Voters to cast their votes at any time within the election period and form any location.</li>
            <li>Here vote are more secure.</li>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- changes -->